nodered/flows.json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "SHTP Traffic Pipeline",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered_internal",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "traffic/server/status",
        "birthQos": "1",
        "birthPayload": "online",
        "closeTopic": "traffic/server/status",
        "closeQos": "1",
        "closePayload": "offline",
        "willTopic": "traffic/server/status",
        "willQos": "1",
        "willPayload": "offline"
    },
    {
        "id": "pg_db",
        "type": "postgreSQLConfig",
        "name": "Postgres SHTP",
        "host": "postgres",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "shtp_traffic",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool"
    },
    {
        "id": "telegram_bot",
        "type": "telegram bot",
        "botname": "SHTP_Alert_Bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "mqtt_in_telemetry",
        "type": "mqtt in",
        "z": "tab1",
        "name": "Sub Telemetry",
        "topic": "traffic/station/+/telemetry",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "dedup_telemetry"
            ]
        ]
    },
    {
        "id": "dedup_telemetry",
        "type": "function",
        "z": "tab1",
        "name": "Dedup QoS 1",
        "func": "var cache = context.get('dedup_cache') || {};\nvar p = msg.payload;\nvar key = p.station_id + '_' + (p.seq || p.timestamp);\nvar now = Date.now();\nfor (var k in cache) {\n    if (now - cache[k] > 300000) delete cache[k];\n}\nif (cache[key]) { return null; }\ncache[key] = now;\ncontext.set('dedup_cache', cache);\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "func_sql_telemetry"
            ]
        ]
    },
    {
        "id": "func_sql_telemetry",
        "type": "function",
        "z": "tab1",
        "name": "Format telemetry SQL",
        "func": "var p = msg.payload;\nmsg.query = `\n    INSERT INTO traffic_records (\n        station_id, recorded_at, seq, interval_seconds, \n        motorbike_count, car_count, truck_count, bus_count, \n        bicycle_count, unknown_count, total_count, \n        avg_confidence, min_confidence, detections_raw, \n        detections_filtered, lighting_condition\n    ) VALUES ($1, to_timestamp($2), $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16);\n    \n    INSERT INTO hardware_metrics (\n        station_id, recorded_at, cpu_temp_c, enclosure_temp_c, \n        input_voltage_v, signal_rssi_dbm, signal_quality_pct, \n        free_memory_kb, disk_usage_pct, fps, inference_ms\n    ) VALUES ($1, to_timestamp($2), $17, $18, $19, $20, $21, $22, $23, $24, $25);\n`;\nmsg.params = [\n    p.station_id, p.timestamp, p.seq, p.interval_seconds, \n    p.data.vehicles.motorbike, p.data.vehicles.car, p.data.vehicles.truck, p.data.vehicles.bus, \n    p.data.vehicles.bicycle, p.data.vehicles.unknown, p.data.total, \n    p.data.avg_confidence, p.data.min_confidence, p.data.detections_raw, \n    p.data.detections_filtered, p.data.lighting_condition,\n    p.status.cpu_temp_c, p.status.enclosure_temp_c, p.status.input_voltage_v, p.status.signal_rssi_dbm, \n    p.status.signal_quality_pct, p.status.free_memory_kb, p.status.disk_usage_pct, p.status.fps, p.status.inference_ms\n];\nreturn msg;",
        "outputs": 1,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "pg_insert_telemetry"
            ]
        ]
    },
    {
        "id": "pg_insert_telemetry",
        "type": "postgresql",
        "z": "tab1",
        "postgreSQLConfig": "pg_db",
        "name": "Insert Telemetry",
        "output": false,
        "outputs": 0,
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_in_heartbeat",
        "type": "mqtt in",
        "z": "tab1",
        "name": "Sub Heartbeat",
        "topic": "traffic/station/+/heartbeat",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "func_sql_heartbeat"
            ]
        ]
    },
    {
        "id": "func_sql_heartbeat",
        "type": "function",
        "z": "tab1",
        "name": "Format heartbeat SQL",
        "func": "var p = msg.payload;\nmsg.query = `INSERT INTO hardware_metrics (\n    station_id, recorded_at, uptime_seconds, cpu_temp_c, \n    enclosure_temp_c, input_voltage_v, signal_rssi_dbm, \n    signal_quality_pct, free_memory_kb, disk_usage_pct, fps, \n    inference_ms, watchdog_luckfox_ok, watchdog_esp32_ok, \n    camera_status, last_reboot_reason\n) VALUES ($1, to_timestamp($2), $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16)`;\nmsg.params = [p.station_id, p.timestamp, p.uptime_seconds, p.hardware.cpu_temp_c, p.hardware.enclosure_temp_c, p.hardware.input_voltage_v, p.hardware.signal_rssi_dbm, p.hardware.signal_quality_pct, p.hardware.free_memory_kb, p.hardware.disk_usage_pct, p.hardware.fps, p.hardware.inference_ms, p.watchdog.luckfox_ok, p.watchdog.esp32_ok, p.camera_status, p.last_reboot_reason];\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "pg_insert_heartbeat"
            ]
        ]
    },
    {
        "id": "pg_insert_heartbeat",
        "type": "postgresql",
        "z": "tab1",
        "postgreSQLConfig": "pg_db",
        "name": "Insert Heartbeat",
        "output": false,
        "outputs": 0,
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt_in_alert",
        "type": "mqtt in",
        "z": "tab1",
        "name": "Sub Alert",
        "topic": "traffic/station/+/alert",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "func_sql_alert"
            ]
        ]
    },
    {
        "id": "func_sql_alert",
        "type": "function",
        "z": "tab1",
        "name": "Format alert SQL",
        "func": "var p = msg.payload;\nmsg.query = `INSERT INTO device_alerts (\n    station_id, alert_at, severity, code, message, details\n) VALUES ($1, to_timestamp($2), $3, $4, $5, $6)`;\nmsg.params = [p.station_id, p.timestamp, p.severity, p.code, p.message, JSON.stringify(p.details || {})];\n// Chu\u1ea9n b\u1ecb payload cho Telegram\nif (p.severity === 'critical' || p.severity === 'warning') {\n    msg.telegram_payload = {\n        chatId: process.env.TELEGRAM_CHAT_ID,\n        type: 'message',\n        content: `\ud83d\udea8 **ALERT** \ud83d\udea8\\nStation: ${p.station_id}\\nCode: ${p.code}\\nMessage: ${p.message}`\n    };\n}\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "pg_insert_alert",
                "check_telegram"
            ]
        ]
    },
    {
        "id": "pg_insert_alert",
        "type": "postgresql",
        "z": "tab1",
        "postgreSQLConfig": "pg_db",
        "name": "Insert Alert",
        "output": false,
        "outputs": 0,
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "check_telegram",
        "type": "switch",
        "z": "tab1",
        "name": "If Critical",
        "property": "telegram_payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 310,
        "wires": [
            [
                "telegram_sender"
            ]
        ]
    },
    {
        "id": "telegram_sender",
        "type": "telegram sender",
        "z": "tab1",
        "name": "Send Alert",
        "bot": "telegram_bot",
        "haserroroutput": false,
        "outputs": 1,
        "x": 750,
        "y": 310,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_in_watchdog",
        "type": "mqtt in",
        "z": "tab1",
        "name": "Sub Watchdog",
        "topic": "traffic/station/+/watchdog",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "func_sql_watchdog"
            ]
        ]
    },
    {
        "id": "func_sql_watchdog",
        "type": "function",
        "z": "tab1",
        "name": "Format watchdog SQL",
        "func": "var p = msg.payload;\nmsg.query = `INSERT INTO watchdog_events (\n    station_id, event_at, event_type, reason, details, uptime_before_reset_s, reset_count_since_boot\n) VALUES ($1, to_timestamp($2), $3, $4, $5, $6, $7)`;\nmsg.params = [p.station_id, p.timestamp, p.event, p.details.reason, JSON.stringify(p.details || {}), p.details.uptime_before_reset_s, p.details.reset_count_since_boot];\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "pg_insert_watchdog"
            ]
        ]
    },
    {
        "id": "pg_insert_watchdog",
        "type": "postgresql",
        "z": "tab1",
        "postgreSQLConfig": "pg_db",
        "name": "Insert Watchdog",
        "output": false,
        "outputs": 0,
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "mqtt_in_network",
        "type": "mqtt in",
        "z": "tab1",
        "name": "Sub Network",
        "topic": "traffic/station/+/network_quality",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "func_sql_network"
            ]
        ]
    },
    {
        "id": "func_sql_network",
        "type": "function",
        "z": "tab1",
        "name": "Format network SQL",
        "func": "var p = msg.payload;\nmsg.query = `INSERT INTO network_quality (\n    station_id, recorded_at, operator, technology, band, rssi_dbm, rsrp_dbm, rsrq_db, sinr_db, latency_ms, packet_loss_pct, reconnect_count, bytes_sent, bytes_received, mqtt_reconnect_count\n) VALUES ($1, to_timestamp($2), $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15)`;\nmsg.params = [p.station_id, p.timestamp, p.network.operator, p.network.technology, p.network.band, p.network.rssi_dbm, p.network.rsrp_dbm, p.network.rsrq_db, p.network.sinr_db, p.network.latency_ms, p.network.packet_loss_percent, p.network.reconnect_count, p.network.bytes_sent_total, p.network.bytes_received_total, p.network.mqtt_reconnect_count];\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "pg_insert_network"
            ]
        ]
    },
    {
        "id": "pg_insert_network",
        "type": "postgresql",
        "z": "tab1",
        "postgreSQLConfig": "pg_db",
        "name": "Insert Network",
        "output": false,
        "outputs": 0,
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "mqtt_in_snapshot",
        "type": "mqtt in",
        "z": "tab1",
        "name": "Sub Snapshot",
        "topic": "traffic/station/+/snapshot",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "func_sql_snapshot"
            ]
        ]
    },
    {
        "id": "func_sql_snapshot",
        "type": "function",
        "z": "tab1",
        "name": "Format snapshot SQL",
        "func": "var p = msg.payload;\n// Gi\u1ea3i m\u00e3 base64 v\u00e0 l\u01b0u file (Trong th\u1ef1c t\u1ebf Node-RED s\u1ebd d\u00f9ng file node, \u1edf \u0111\u00e2y ta ch\u1ec9 l\u01b0u metadata)\nmsg.query = `INSERT INTO snapshots (\n    station_id, captured_at, format, resolution, size_bytes, lighting_condition, file_path\n) VALUES ($1, to_timestamp($2), $3, $4, $5, $6, $7)`;\nvar filename = `/media/${p.station_id}_${p.timestamp}.jpeg`;\nmsg.params = [p.station_id, p.timestamp, p.format, p.resolution, p.size_bytes, p.lighting_condition, filename];\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "pg_insert_snapshot"
            ]
        ]
    },
    {
        "id": "pg_insert_snapshot",
        "type": "postgresql",
        "z": "tab1",
        "postgreSQLConfig": "pg_db",
        "name": "Insert Snapshot",
        "output": false,
        "outputs": 0,
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "http_accuracy_in",
        "type": "http in",
        "z": "tab1",
        "name": "POST /api/accuracy",
        "url": "/api/accuracy",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "func_accuracy_sql"
            ]
        ]
    },
    {
        "id": "func_accuracy_sql",
        "type": "function",
        "z": "tab1",
        "name": "Format Accuracy SQL",
        "func": "var p = msg.payload;\nmsg.query = `INSERT INTO accuracy_evaluations (\n    station_id, eval_period_start, eval_period_end, evaluator_name, lighting_condition, auto_total, manual_total, accuracy_pct, false_positives, false_negatives, notes\n) VALUES ($1, to_timestamp($2), to_timestamp($3), $4, $5, $6, $7, $8, $9, $10, $11)`;\nmsg.params = [p.station_id, p.eval_start, p.eval_end, p.evaluator, p.lighting, p.auto_total, p.manual_total, p.accuracy_pct, p.false_positives, p.false_negatives, p.notes];\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "pg_insert_accuracy"
            ]
        ]
    },
    {
        "id": "pg_insert_accuracy",
        "type": "postgresql",
        "z": "tab1",
        "postgreSQLConfig": "pg_db",
        "name": "Insert Accuracy",
        "output": false,
        "outputs": 0,
        "x": 650,
        "y": 620,
        "wires": [
            [
                "http_accuracy_out"
            ]
        ]
    },
    {
        "id": "http_accuracy_out",
        "type": "http response",
        "z": "tab1",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "inject_self_check",
        "type": "inject",
        "z": "tab1",
        "name": "Check every 60s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "func_self_check"
            ]
        ]
    },
    {
        "id": "func_self_check",
        "type": "function",
        "z": "tab1",
        "name": "Query",
        "func": "msg.query = 'SELECT 1;'; return msg;",
        "outputs": 1,
        "x": 350,
        "y": 700,
        "wires": [
            [
                "pg_self_check"
            ]
        ]
    },
    {
        "id": "pg_self_check",
        "type": "postgresql",
        "z": "tab1",
        "postgreSQLConfig": "pg_db",
        "name": "Test DB Connection",
        "output": true,
        "outputs": 1,
        "x": 550,
        "y": 700,
        "wires": [
            [
                "mqtt_self_check"
            ]
        ]
    },
    {
        "id": "mqtt_self_check",
        "type": "mqtt out",
        "z": "tab1",
        "name": "Test MQTT",
        "topic": "traffic/server/health",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 750,
        "y": 700,
        "wires": []
    }
]